
#matchesPerYearContainer{
    min-width: 310px; height: 400px; margin: 0 auto

}
#matchesPerTeamPerYearContainer{
    min-width: 310px; height: 600px; margin: 100px auto

}    
#extraRunsScoredContainer{
    min-width: 310px; height: 400px; margin: 0 auto

}    
#topEconomicalBowlersContainer{
    min-width: 310px; height: 400px; margin: 0 auto

}        